<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form>
        <label>Name <input placeholder="Enter student name"></label><br><br>
        <label>Mobile no.<input placeholder="Enter mobile number"></label><br><br>
        <label>Degree <input placeholder="Enter degree"></label><br><br>
        <label>Course <input placeholder="Enter course"></label><br><br>
        <button>Submit</button>
    </form>
</body>
</html>